.panel--comments {
  width: 550px;
  display: block;
  position: relative;

  @media screen and (max-width: map-get($breakpoints, small)) {
    width: 85%;
  } 

  @media screen and (max-width: map-get($breakpoints, x-small)) {
    width: 100%;
  }

  .button {
    float: right;
  }
}