.panel--comments {
  width: 550px;
  overflow: visible;
  @media screen and (max-width: map-get($breakpoints, small)) {
    width: 85%;
  }
}

.comments-wrapper__comment {
  margin: 8px 0 0 0;
  padding: 8px 0 0 0;
  line-height: 1.2;
  border-top: 1px solid #e8e5e5;
  &:first-of-type {
    margin-top: 25px;
    border-top: none;
  }
}

.comment__avatar img {
  float: left;
  width: 42px;
  display: block;
  display: block;
  margin-top: 18px;
  border-radius: 4px;
}

.comment__content {
  margin-left: 55px;
}

.content__rate {
  text-align: right;
  color: #F5D061;
  right: 20px;
  font-size: 95%;
}

.content__author {
  color: rgba(0,0,0,.87);
  font-weight: 700;
}

.content__date {
  margin-left: 8px;
  color: rgba(0,0,0,.4);
  font-size: 80%;
}

.content__text {
  margin: 4px 0 8px 0;
  font-size: 95%;
  word-wrap: break-word;
  color: rgba(0,0,0,.87);
  line-height: 1.3;
}

.login-alert-link {
  color: $ocean-blue;
  font-weight: bold;
  &:hover {
    color: lighten($ocean-blue, 10%);
  }
}