// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  height: 100px;
  background-color: $nav-background-beige;
  border-top: 1px solid mix(black, $border-grey, 5%);
  box-shadow: $nav-shadow;
}