.landpage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: auto;
    z-index: 40;
}

.landpage--hidden {
    pointer-events: none;

    .landpage__pic {
      -webkit-transform: translateY(-100vh);
      transform: translateY(-100vh);
    }
}

.landpage__pic {
  background: url('/images/beauty1.jpg') center center no-repeat;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  .button {
    background-color: $tuna;
    font-size: 1.3em;
    font-weight: bold;
    color: #191919;
    padding: 0.7em 1.5em;
    border-radius: 8px;
    &:hover {
      background-color: lighten($tuna, 3%);
    }
    &:active {
      background-color: darken($tuna, 3%);
      margin-top: 5px;
    }
  }
  will-change: transform;
  pointer-events: auto;
  transition: transform 500ms ease-in;
}


//Skips Landing Page
a[id="about-us"]:target ~ .landpage {
  display: none;
}