// Skip Landing Page
a[id="about-us"]:target ~ .landpage {
  display: none;
  opacity: 0;

  button {
    display: none;
    opacity: 0
  }
}

.landpage {
  background: url('/images/beauty1.jpg') center center no-repeat;
  background-size: cover;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 50;
  overflow: hidden;
  will-change: transform;
  transition: transform 0.5s ease-in;

  .button {
    $size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $ocean-blue;
    color: $white;
    width: $size;
    height: $size;
    max-width: 42vh;
    max-height: 42vh;
    border-radius: $size/2;
    padding: 0;

    &:hover {
      background-color: lighten($ocean-blue, 3%);
    }
    
    &:active {
      background-color: darken($ocean-blue, 3%);
      margin-top: 5px;
    }

    .content {
      font-size: 180%;
      font-weight: 200;

      @media screen and (max-height: 290px) {
        font-size: 10vh;
      }
    }
  }
}

.landpage--visible {

  ~ main {
    display: none;
  }
  
  ~ footer {
    display: none;
  }
}

.landpage--hidden {
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh);
}
