.landpage {
  background: url('/images/beauty1.jpg') center center no-repeat;
  background-size: cover;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  overflow: hidden;
  will-change: transform;
  transition: transform 0.5s ease-in;

  .button {
    $size: 150px;
    background-color: $ocean-blue;
    font-size: 180%;
    font-weight: 200;
    color: $white;
    height: $size;
    width: $size;
    border-radius: $size/2;

    &:hover {
      background-color: lighten($ocean-blue, 3%);
    }
    
    &:active {
      background-color: darken($ocean-blue, 3%);
      margin-top: 5px;
    }
  }
}

.landpage--hidden {
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh);
}

//Skip Landing Page
a[id="about-us"]:target ~ .landpage {
  display: none;
}