.nav {
  position: fixed;
  height: $nav-height;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: auto;
  -webkit-transform: none;
  transform: none;
  will-change: transform;
}

.nav--hidden {
  -webkit-transform: translateY(-$nav-height);
  transform: translateY(-$nav-height);
  pointer-events: none;
}

.nav--animatable {
  transition: transform 0.33s ease-out;
}

.nav--hidden.nav--animatable {
  transition: transform 0.2s ease-in;
}

.nav__container {
  background-color: $nav-background-beige;
  border: 1px solid $border-grey;
  display:flex;
  align-items: center;
  height: 100%;
  z-index: 10;
}

.container__brand {
  display:flex;
  align-items: center;
  z-index: 3;
  font-size: 130%;
  color: $tuna;
  float: left;
  padding: 15px 15px;

  &:hover {
    color: $ocean-blue;
  }
}

.container__collapse {
  position: absolute;
  right: 0;
  display: block;
  padding-right: 15px;
  @media screen and (max-width: map-get($breakpoints, medium)) {
    display: flex;
    justify-content: center;
    align-items: center;
    top: $nav-height - $collapsed-nav-height - 1px; //1px - in order to eliminate possible space between navs
    background-color: $nav-background-beige;
    height: $collapsed-nav-height;
    width: $collapsed-nav-width;
    padding: 10px 0;
    z-index: -1;
    border: 1px solid $border-grey;
    border-top: none;
    will-change: transform;
    transition: transform 0.2s ease-in-out;
  }
}

@media screen and (max-width: map-get($breakpoints, medium)) {
  .container__hamburger--open + .container__collapse--visible {
    -webkit-transform: translateY(221px);
    transform: translateY(221px);
  }
}

.collapse__buttons li {
  float: left;

  @media screen and (max-width: map-get($breakpoints, medium)) {
    float: initial;
    padding: 2px 0;
    display: flex;
    justify-content:center;
  }
  a {
    font-size: 90%;
    color: $font-grey;
    padding: 10px;
    @media screen and (max-width: map-get($breakpoints, medium)) {
      padding: 5px 15px;
    }
    &:hover {
      color: $tuna;
    }

    &.collapse__buttons--current-user {
      color: $ocean-blue;
    }
  }
}

.collapse__buttons--log-button {
  border: 1px solid $border-grey;
  border-radius: 6px;
  margin-left: 4px;
  color: $font-grey;
  padding: 10px 15px;

  @media screen and (max-width: map-get($breakpoints, medium)) {
    margin: 0;
    padding: 5px 15px;
  }

  &:hover {
    border-color: lighten( $tuna, 15% );
    color: $tuna;
  }
}

.collapse__buttons--active {
  color: $tuna !important;
}