.nav {
  position: fixed;
  width: 100%;
  height: $nav-height;
  max-width: $max-width;
  top: 0;
  left: 0;
  font-size: 105%;
  z-index: 100;
  will-change: transform;

  @media screen and (min-width: map-get($breakpoints, x-large)) {
    $width: 1400px;
    height: $nav-height-x2;
    width: $width;
    max-width: $max-width;
    left: 50%;
    margin-left: -$width/2;
  }
}

.nav--hidden {
  -webkit-transform: translateY(-$nav-height);
  transform: translateY(-$nav-height);

  @media screen and (min-width: map-get($breakpoints, x-large)) {
    -webkit-transform: translateY(-$nav-height-x2);
    transform: translateY(-$nav-height-x2);
  }
}

.nav--animatable {
  transition: transform 0.22s ease-out;
}

.nav--hidden.nav--animatable {
  transition: transform 0.1s ease-in;
}

.nav__container {
  position: relative;
  display:flex;
  align-items: center;
  background-color: $nav-background-gray;
  border: 1px solid $border-gray;
  height: 100%;
}

.container__brand {
  position: absolute;
  margin-top: 2px;
  top: 0;
  left: 0;
  font-size: 200%;
  margin-left: 15px;
  line-height: $nav-height - 4px;

  @media screen and (min-width: map-get($breakpoints, x-large)) {
    line-height: $nav-height-x2 - 4px;
  }
}

.container__brand--on {
  background-color: $nav-background-gray;
  text-shadow: 0 0 3px $salmon;
  -webkit-text-stroke: 1px $salmon;
  color: $white;
}

.container__brand--off {
  -webkit-text-stroke: 1px lighten(desaturate($salmon, 60%), 8%);
  color: $nav-background-gray;
}

.container__collapse {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;

  @media screen and (max-width: map-get($breakpoints, x-medium)) {
    display: flex;
    justify-content: center;
    align-items: center;
    top: $nav-height - $collapsed-nav-height - 2px; //2px - in order to eliminate possible space between navs
    background-color: $nav-background-gray;
    height: $collapsed-nav-height;
    width: $collapsed-nav-width;
    padding: 10px 0;
    z-index: -1;
    border: 1px solid $border-gray;
    border-top: none;
    will-change: transform;
    transition: transform 0.2s ease-in-out;
  }
}

@media screen and (max-width: map-get($breakpoints, x-medium)) {

  .container__hamburger--open + .container__collapse--visible {
    transform: translateY($collapsed-nav-height);
  }
}

.collapse__buttons {
  display: flex;
  align-items: center;

  @media screen and (max-width: map-get($breakpoints, x-medium)) {
    flex-direction: column;
  }

  li {
    color: $font-gray;

    @media screen and (max-width: map-get($breakpoints, x-medium)) {
      padding: 2px 0;
      display: flex;
      justify-content:center;
    }

    a {
      font-size: 90%;
      padding: 10px 15px 10px 10px;
      
      @media screen and (max-width: map-get($breakpoints, x-medium)) {
        padding: 8px 30px;
      }

      @media screen and (min-width: map-get($breakpoints, x-small)) {
        &:hover {
          color: $salmon;
        }
      }
    }
  }

  .collapse__buttons--current-user {
    color: $ocean-blue;
    text-align: center;
    font-size: 95%;
    max-width: 132px;
    font-weight: 600;
  }
}

.buttons__spacer {
  border-left: 1px solid lighten( $border-gray, 3% );
  margin-left: 5px;
  height: $nav-height;

  @media screen and (max-width: map-get($breakpoints, x-medium)) {
    height: auto;
    width: 100%;
    border-left: none;
    border-bottom: 1px solid $border-gray;
    margin-left: 0;
  }
}

.collapse__buttons--active {
  color: $salmon !important;
  border-color: lighten( $salmon, 15% );
}