.sign-form {
  width: 260px;
  margin: 3% auto 0 auto;

  .input {
    @include shadowed-border;
  }
  
  .button {
    font-size: 100%;
    float: none;
  }
}

.input-condition {
  position: relative;
  top: 10px;
  font-size: 75%;
  width: 95%;
  margin: 5px auto;
  color: $font-gray;
  text-align: justify;
}