.sign-form {
  $width: 400px;
  width: $width;
  margin: 3% auto 0 auto;
  padding: 40px 20px;

  @media screen and (max-width: $width) {
    width: 100%;
  }

  .button {
    margin: 10px;
    font-size: 100%;
    float: none;
  }
}

.input-condition {
  position: relative;
  top: 10px;
  font-size: 75%;
  width: 95%;
  margin: 5px auto;
  color: $font-gray;
  text-align: justify;
}