.sign-form {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  input {
    margin-bottom: 20px;
    font-size: 0.9em;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    @include shadowed-border;
    outline: 0;
    &:focus {
      @include input-focus(10%);
    }
    @include placeholder-color();
  }
  .button {
    font-size: 0.8em;
    float: none;
  }
}