@keyframes glow { 
  0%, 22% { opacity: 1; } 
  23%, 25% { opacity: 0; } 
  26%, 33% { opacity: 1; } 
  34%, 42% { opacity: 0; } 
  43%, 53% { opacity: 1; } 
  54%, 56% { opacity: 0; } 
  57%, 58% { opacity: 1; } 
  59%, 60% { opacity: 0; } 
  61%, 100% { opacity: 1; }
}

.glow { 
    animation-duration: 10s; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    animation-name: glow; 
}