<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
  <meta name="description" content="Przetestuj moją aplikację i daj mi znać :))">
  <meta name="keywords" content="front-end developer, front-end warszawa, mateusz baldyga, mateusz bałdyga, javascript, skinguide">
  <title>SkinGuide</title>

  <!--OPEN GRAPH-->
  <meta property="og:title" content="Portfolio">
  <meta property="og:description" content="Przetestuj moją aplikację i daj mi znać :))">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://evening-hamlet-47726.herokuapp.com/">
  <meta property="fb:app_id" content="682496865269227">
  <meta property="og:image" content="https://raw.githubusercontent.com/mateuszbaldyga/SkinGuide/master/public/images/preview.png">
  <meta property="og:image:width" content="1064">
  <meta property="og:image:height" content="655">
  <meta property="og:image:type" content="image/png">

  <link type="image/svg+xml" rel="icon" href="/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet"  type="text/css" href="/stylesheets/style.css">
</head>
<body>
