<div id="hiddenCommentTemplate">
  <div class="comment" style="display: none;">
    <a href="#" class="avatar">
      <img alt="User's avatar.">
    </a>
    <div class="content">
      <a href="#" class="author">
      </a>
        <div status='data-notFormated' class="metadata date" style="display: none;"></div>
      <div class="dropdown show button-DeleteComment">
        <button class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="angle down icon"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Edytuj</a><br>
          <a class="dropdown-item" href="#">Usuń</a>
        </div>
      </div>
      <div class='starsRated'>
      </div>
      <div class="text"></div>
    </div>
  </div>
</div>