<nav id="nav" role="navigation" class="nav nav--animatable">
  <div class="nav__container">
    <a class="container__brand" href="/">SkinGuide
    </a>
    <button id='nav__hamburger' type="button" class="container__hamburger">
      <div class="hamburger__one"></div>
      <div class="hamburger__two"></div>
      <div class="hamburger__three"></div>
    </button>
    <div id="nav__collapse" class="container__collapse nav--animatable">
      <ul id="nav__buttons" class="collapse__buttons">
        <li><a id="aboutUsButton" href="/#about-us">O Nas</a></li>
        <li><a href="/procedures">Zabiegi</a></li>
        <!-- <li><a href="/offers">Promocje</a></li> -->
        <li><a href="/gallery">Galeria</a></li>
        <li><a href="/contact">Kontakt</a></li>
        <% if(!currentUser){ %>
          <li><a href="/register" class="collapse__buttons--log-button">Sign Up</a></li>
          <li><a href="/login" class="collapse__buttons--log-button">Login</a></li>
        <% } else { %>
          <li><a class="collapse__buttons--current-user" href="#">Signed in as <%= currentUser.username %></a></li>
          <li><a href="/logout" class="collapse__buttons--log-button">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

