form {
  input {
    margin-bottom: 23px;
    margin-top: 10px;
    font-size: 0.9em;
    padding: 10px 15px;
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 7px;
    outline: 0;
    &:focus {
      @include input-focus(10%);
    }
  }
  .button {
    float: none;
  }
}