nav.navbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  list-style-type: none;
  overflow: hidden;
  color: white;
      position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0px;
  .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
  ul {
    float: left;
  }
  @media (min-width: 768px) {
    .navbar-header {
      float: left;
    }
  }
}


/*.container-fluid {
  // background-color: white;
  #navbar-brand {
    font-size: 1.3em;
    color: #FF847C;
    &:hover {
      color: #49BEB7
    }
  }
  #navbar-buttons li a {
    background-color: transparent;
    &:hover {
      background-color: transparent;
      color: #FF847C;
    }
  }
  .btn.btn-outline {
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-left: 5px;
  }

}

.nav-up {
  top: -40px;
}

#active {
  color: #FF847C;
}*/


.hamburger-menu {
    width: 1em;
    height: 1em;
    padding: 0.2em;
    background-color: #0af;
    cursor: pointer;
    margin: 0 auto;

    div {
        background-color: white;
        width: 1em;
        height: 0.2em;
        margin-bottom: 0.2em;
        transition: all 0.2s ease-out;
    }

    &.open {
        .one {
            transform: translateY(0.4em) rotate(45deg);
        }

        .two {
            opacity: 0;
        }

        .three {
            transform: translateY(-0.4em) rotate(-45deg);
        }
    }
}