/*reset*/
@import 'reset';
@import 'comments';
@import 'navbar';


/* Bootstrap Extract */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Bootstrap Extract */

a {
  text-decoration: none;
  color: initial;
}

h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff7fc;
  width: 70em;
  margin: 7em auto auto auto;
}

main {
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.hidden-template {
  display: none;
}

/*my settings*/
#landpic {
background: url('/images/beauty1.jpg') center center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.login-form {
  width: 30%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.panel {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px #e2e2e2;
  box-shadow: 0 1px 1px #e2e2e2;
  text-align: justify;
  overflow: hidden;
}

h1.page-header {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1.3em;
  border-bottom: 1px solid #f2f2f2;
}

.space {
  height: 2em;
}

hr {
  margin: 0;
}
