$nav-high: 52px;

//colors:
$white: #FFFFFF;
$beige: #fff7fc;
$tuna: #FF847C;
// $ocean-blue: #49BEB7;
$ocean-blue: #49BEB7;
$grey4font: #5D5D5D;
$border-color : #e7e7e7;
$nav-background-color: #f8f8f8;

@mixin input-focus($percent) {
  border-color: $ocean-blue;
  box-shadow: 0 0 6px lighten($ocean-blue, $percent);
}


@import 'reset',
        'comments',
        'navbar',
        'landing-page',
        'procedures',
        'login-register';


/* Bootstrap Extract */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Bootstrap Extract */

a {
  text-decoration: none;
  color: initial;
}

h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $beige;
}

main {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  overflow: hidden;
  @media (max-width: 878px) {
    width: 98%;
    min-width: 320px;

  }

}

.hidden-template {
  display: none;
}

.login-form {
  width: 30%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.panel {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: 4px;
  box-shadow: 0 0px 20px $border-color;
  text-align: justify;
  overflow: hidden;
  @media (max-width: 620px) {
      padding: 10px;
    }
  @media (max-width: 500px) {
    padding: 8px;
  }
}

.space {
  margin-top: $nav-high;
}

h1.page-header {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1.3em;
  border-bottom: 1px solid #f2f2f2;
}

hr {
  margin: 0;
}
