<% include ./partials/header %>
<% include ./partials/navbar %>

<main>
<% include ./partials/flash-messages %>
<div class="panel">
  <h1 class="page-header">Kontakt</h1>
  <!-- <div id="map" class="map"></div> -->
  <form name="contact-form" id="contactForm" class="contact-form" action="/contact" method="POST">
    <input type="text" class="input" name="name" placeholder="Imię" required>
    <input type="email" class="input" name="email" placeholder="E-mail" required>
    <textarea id='text' class="textarea" name="message" placeholder="Twoja wiadomość..." required></textarea>
    <button class="button" type="submit">Wyślij</button>
  </form>
</div>
</main>

<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>