<% include ./partials/header %>
<% include ./partials/navbar %>

<main>
  <div class="panel">
    <h1 class="page-header">Galeria</h1>
    <div class="gallery">
    <% for(var i=0; i<12; i++) {%>

        <picture class="gallery__thumbnail gallery__thumbnail--hovered  glyphicon">
            <source media="(min-width: 650px)" srcset="gallery<%= i %>_.jpeg.jpg">
            <source media="(min-width: 465px)" srcset="img_white_flower.jpg">
        </picture>
        <div class="gallery__container--hidden">
          <div class="container__photo">
            <div class="content">
              <img class="" src="images/gallery/gallery<%= i %>.jpeg" alt="">
            </div>
            <div class="container__buttons">
              <button class="buttons__button prevButton glyphicon"></button>
              <button class="buttons__button nextButton glyphicon"></button>
            </div>
            <button class="container__closeButton glyphicon"></button>
          </div>
        </div>
    
    <% } %>
    </div>
</main>

<% include ./partials/footer %>
<% include ./partials/scripts %>
<script type="text/javascript" src="/javascripts/gallery.js"></script>
</body>
</html>
