<% include ./partials/header %>
<% include ./partials/navbar %>

<main>
  <div class="panel">
    <h1 class="page-header">Galeria</h1>
    <div class="gallery">
    <% for(var i=0; i<12; i++) {%>
        <div class="gallery__thumbnail gallery__thumbnail--hovered glyphicon" style="background-image: url('/images/gallery/gallery<%=i%>-450w-compressor.jpeg');">
        </div>
        <div class="gallery__fullphoto">
          <div class="fullphoto__image" style="background-image: url('/images/gallery/gallery<%=i%>.jpeg');">
            <button class="image__close-button glyphicon"></button>
            <div class="image__buttons">
              <button class="buttons__button prev-button glyphicon"></button>
              <button class="buttons__button next-button glyphicon"></button>
            </div>
          </div>
        </div>
    <% } %>
    </div>
</main>

<% include ./partials/footer %>
<% include ./partials/scripts %>
<script type="text/javascript" src="/javascripts/gallery.min.js"></script>
</body>
</html>
