<% include ./partials/header %>
<% include ./partials/navbar %>

<a id="about-us"></a>
<div id="landpage" class="landpage">
  <button id="button-getStarted" class="button pulse">Wejdź !</button>
</div>

<main>
<article class="panel">
  <h1 class="page-header">O nas</h1>
  <p>Donec dolor   massa, eleifend eu maximus in, bibendum sed risus. Ut finibus fringilla erat ut ultricies. Suspendisse mattis est in vulputate sodales. Quisque consequat venenatis aliquam. Praesent finibus in arcu id condimentum. Cras mollis elit sit amet dui tincidunt varius. Suspendisse potenti. Sed porttitor sapien ac odio molestie tincidunt. Mauris fermentum mauris turpis, et lacinia elit imperdiet nec. Fusce laoreet turpis et nisl egestas luctus. Etiam ut consectetur tellus, imperdiet porttitor ante. Nulla facilisi. Nulla ac cursus lacus. Duis in dictum quam. Ut faucibus diam nec odio pharetra pharetra.</p>
  <p>Proin at metus ut ex consectetur posuere. Nunc eget imperdiet orci, ac varius odio. Maecenas vitae augue nibh. Integer sed odio eu libero iaculis fermentum eu a nulla. Duis eget mi quis urna ultrices hendrerit eu at quam. Mauris vitae massa quam. In eget pharetra eros.</p>
  <p>Duis malesuada metus non ligula efficitur maximus. Donec sit amet fermentum erat. Donec efficitur nec arcu in ullamcorper. Vivamus id sem dui. Nunc ligula massa, convallis eu suscipit id, tincidunt sit amet justo. Morbi scelerisque diam at elit rutrum, vitae ultricies leo blandit. Vestibulum elementum tortor sit amet sem convallis, sed tempor magna elementum. Fusce tortor justo, vehicula quis convallis nec, ultrices non nisi.</p>
</article>

<div id="commentHiddenTemplate" class="display--none">
  <% include ./partials/comment_template %>
</div>

<!-- SHOW -->
<div class="panel panel--comments">
  <div id="commentsWrapper" class="panel--comments__comments-wrapper">
    <h3>Opinie klientów</h3>
    <% comments.forEach(function(comment) { %>
      <% include ./partials/comment_template %>
    <% }) %>
  </div>

<!-- New   -->
  <button id="button-addOpinion" class="button">
    Dodaj Opinię
  </button>
  <div id="formNewCommentWrapper" class="form-new-comment--wrapper">
    <% if(currentUser){ %>
      <form name="form-new-comment" id="formNewComment" class="form-new-comment" action="/skinguide" method="POST">
        Ocena:
        <div id="rate" class='rate-by-stars'>
          <span value='1'>&#9734;</span><span value='2'>&#9734;</span><span value='3'>&#9734;</span><span value='4'>&#9734;</span><span value='5'>&#9734;</span>
        </div>
        <input type="hidden" name="rateValue" id='rateNum'/>
        <input type="hidden" name="currentuser"  id="currentuser" value='<%= currentUser.username %>'/>
        <input type="hidden" name="avatar"  id="avatar" value='<%= currentUser.avatar %>'/>
        <input type="hidden" name="commentId"  id="commentId" value='<%= currentUser.avatar %>'/>
        <textarea id='text' class="textarea" name="text" placeholder="Czy jesteś zadowolona z naszych usług?" required></textarea>
        <button type="button" id="button-sendOpinion" class="button">
          <i class="icon edit"></i> Wyślij Opinię
        </button>
      </form>
    <% } else { %>
      <div class="login-alert" id="loginAlert">Aby dodać opinię, <a href="/login" class="login-alert-link">zaloguj się</a>.</div>
    <% } %>
  </div>
</div>
</main>

<% include ./partials/footer %>
<% include ./partials/scripts %>
<script type="text/javascript" src="/javascripts/index.min.js" defer></script>
</body>
</html>