<% include ./partials/header %>
<% include ./partials/navbar %>

<a id="about-us"></a>
<div id="landpage" class="landpage landpage--visible">
  <button id="button-getStarted" class="button pulse">
    <div class="content">
      Wejdź !
    </div>
  </button>
</div>

<main>
<article class="panel">
  <h1 class="page-header">Informacje</h1>
  <h3>O projekcie słów kilka</h3>
  <p>Jest to przykładowa aplikacja webowa dla salonu kosmetycznego. Motywem przewodnim było zbudowanie czegoś minimalistycznego, estetycznego, co do piksela prezentującego się idealnie.
  <br>
  Dużą uwagę przywiązałem do wydajności, pominąłem niepotrzebne animacje, a te które zastosowałem wykorzystują transformacje CSS.
  <br>
  Kod starałem się pisać w taki sposób, aby był semantyczny i łatwo rozszerzalny. 
  </p>
  <p>Jeżeli chodzi o <b>funkcjonalność</b>:
    <ul>
      <li>zaimplementowałem możliwość rejestracji/logowania użytkownika,</li>
      <li>możliwość dodawania/edycji/usuwania swoich komentarzy (operacje na komentarzach odbywają się bez przeładowywania strony - AJAX).</li>
    </ul>
  </p>
  <p>Użyte <b>technologie</b> i <b>narzędzia</b>:
    <ul>
      <li>backend: <b>Express.js</b> + <b>Node.js</b> + <b>MongoDB</b>,</li>
      <li>frontend: <b>HTML5</b> + <b>CSS3</b> (SCSS, BEM) + <b>JavaScript</b> (VanillaJS, ES6, jQuery),</li>
      <li>narzędzia developerskie: <b>SASS</b> (7-1 pattern) + <b>Grunt</b> + <b>Babel</b> + <b>UglifyJS</b> + <b>Autoprefixer</b> + <b>NPM</b> + <b>Git</b>.</li>
    </ul>
  </p>
  <h3>Dlaczego zdecydowałem się zostać frontend developerem?</h3>
  <ul>
    <li>Zawsze uważałem się za artystyczną duszę i jednocześnie lubiłem nauki ścisłe, frontend pozwala mi na wykorzystanie takich zdolności jak: kreatywność, wyczucie estetyki oraz umiejętność logicznego myślenia.
    <br>
    Idealne połączenie, dzięki któremu kodowanie w technologiach frontendowych sprawia mi ogromną satysfakcję,</li>
    <li>IT to przyszłość, nasz świat staję się coraz bardziej cyfrowy,</li>
    <li>programowanie daje ogromne możliwości np. pracę na całym świecie, wystarczy znać język angielski i potrafić programować,</li>
    <li>godziwe wynagrodzenie.</li>
  </ul>
</article>

<div id="commentHiddenTemplate" class="display--none">
  <div class="comments-wrapper__comment">
    <% include ./partials/comment_template %>
  </div>
</div>

<!-- SHOW -->
<div class="panel panel--comments">
  <h3>Opinie klientów</h3>
  <div id="commentsWrapper" class="panel--comments__comments-wrapper">
    <% for(var len=comments.length, i=len-1; i>=0; i--) { %>
      <% if(i>len-5) { %>
        <div class="comments-wrapper__comment">
          <% include ./partials/comment_template %>
        </div>
      <% } else if(i===len-5) { %>
        <div id="showAllComments" class="comments-wrapper__comment comments-wrapper__comment--half-visible">
          <% include ./partials/comment_template %>
        </div>
      <% } else { %>
        <div class="comments-wrapper__comment display--none">
          <% include ./partials/comment_template %>
        </div>
      <% } %>
    <% } %>
  </div>

<!-- New   -->
  <button id="button-addOpinion" class="button">
    Dodaj Opinię
  </button>
  <div id="formNewCommentWrapper" class="form-new-comment--wrapper">
    <% if(currentUser){ %>
      <form name="form-new-comment" id="formNewComment" class="form-new-comment" action="/skinguide" method="POST">
        Ocena:
        <div id="rate" class='rate-by-stars'>
          <span value='1'>&#9734;</span><span value='2'>&#9734;</span><span value='3'>&#9734;</span><span value='4'>&#9734;</span><span value='5'>&#9734;</span>
        </div>
        <input type="hidden" name="rateValue" id='rateNum'/>
        <input type="hidden" name="currentuser"  id="currentuser" value='<%= currentUser.username %>'/>
        <input type="hidden" name="avatar"  id="avatar" value='<%= currentUser.avatar %>'/>
        <input type="hidden" name="commentId"  id="commentId" value='<%= currentUser.avatar %>'/>
        <textarea id='text' class="textarea" name="text" placeholder="Czy jesteś zadowolona z naszych usług?" required></textarea>
        <button type="button" id="button-sendOpinion" class="button">
          <i class="icon edit"></i> Wyślij Opinię
        </button>
      </form>
    <% } else { %>
      <div class="login-alert" id="loginAlert">Aby dodać opinię, <a href="/login" class="login-alert-link">zaloguj się</a>.</div>
    <% } %>
  </div>
</div>
</main>

<% include ./partials/footer %>
<% include ./partials/scripts %>
<script type="text/javascript" src="/javascripts/index.min.js"></script>
</body>
</html>