<% include ./partials/header %>
<% include ./partials/navbar %>

<main>
  <% include ./partials/flash-messages %>
  <form class="panel sign-form" action="/login" method="POST">
    <div class="sign-input">
      <input type="text" name="username" required>
      <label for="username">Nazwa użytkownika</label>
    </div>
    <div class="sign-input">
      <input type="password" name="password" required>
      <label for="password">Hasło</label>
    </div>
    <button class="button" type="submit">Zaloguj się</button>
  </form>
</main>

<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>