<% include ./partials/header %>
<% include ./partials/navbar %>

<main>
  <% include ./partials/flash-messages %>
  <form class="sign-form" action="/login" method="POST">
    <input type="text" class="input" name="username" placeholder="Username" required>
    <input type="password" class="input" name="password" placeholder="Password" required>
    <button class="button" type="submit">Zaloguj się</button>
  </form>
</main>

<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>