<% include ./partials/header %>
<% include ./partials/navbar %>

<main>
  <form class="sign-form space" action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button class="button" type="submit">Zaloguj się</button>
  </form>
</main>


<% include ./partials/footer %>
