<% include ./partials/header %>
<% include ./partials/navbar %>

<main>
  <div class="panel">
    <h1 class="page-header">Promocje</h1>
  </div>
</main>

<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>