<% include ./partials/header %>
<% include ./partials/navbar %>

<main>
  <div class="panel space">
    <h1 class="page-header">Promocje</h1>
    <img class="offer-picture" src="/images/prom1.jpg">
    <img class="offer-picture" src="/images/prom2.jpg">
    <img class="offer-picture" src="/images/prom3.jpg">
    <img class="offer-picture" src="/images/prom4.jpg">
  </div>
</main>
<% include ./partials/footer %>
