.display--none {
  display: none !important;
}

.visibility--hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.visibility--visible {
  visibility: visible !important;
  opacity: 1 !important;
}