<% include ../partials/header %>
<% include ../partials/navbar %>

<main>
<div class="main__wrapper">
<div class="panel">
  <h1 class="page-header">Zabiegi</h1>
  <% groups.forEach(function(group){ %>
      <h3> <%= group.name %> </h3>
      <ul class="procedure-list">
        <% group.procedures.forEach(function(procedure){ %>
            <li><%= procedure.name %> - <span class="procedure-price"><%= procedure.price %>zł</span></li>
        <% }) %>
      </ul>
  <% }) %>
</div>
<div class="main__wrapper">
</main>

<% include ../partials/footer %>
