/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: Lato;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * Set up a decent box model on the root element
 */
html {
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #fff5fb; }

main {
  position: relative;
  top: 0;
  padding-top: 92px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  width: 850px;
  min-width: 300px;
  overflow: hidden; }
  @media screen and (max-width: 878px) {
    main {
      width: 97vw; } }
  @media screen and (max-width: 500px) {
    main {
      width: 94vw; } }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

h3 {
  font-size: 117%;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

a {
  text-decoration: none;
  color: initial; }

textarea {
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  padding: 8px;
  outline: 0; }

button {
  cursor: pointer;
  border: none;
  outline: 0; }

.display--none {
  display: none; }

.visibility--hidden {
  visibility: hidden;
  opacity: 0; }

.visibility--visible {
  visibility: visible;
  opacity: 1; }

.body--blacked:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.7;
  z-index: 125;
  will-change: opacity;
  transition: opacity 0.4s ease-out; }

.button {
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  text-align: center;
  vertical-align: middle;
  background-color: #4bbeb6;
  float: right;
  padding: 9px 18px;
  color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 80%;
  will-change: transform; }
  .button:hover {
    background-color: #62c6c0; }
  .button:active {
    background-color: #40b0a9;
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }

.button--hidden {
  visibility: hidden; }

.button--visible {
  visibility: visible; }

.button--accept {
  margin-left: 5px;
  font-weight: normal;
  padding: 5px 7px;
  background-color: #8ad85a; }
  .button--accept:hover {
    background-color: #9cde73; }
  .button--accept:active {
    background-color: #7cd345; }

.button--cancel {
  margin-left: 5px;
  font-weight: normal;
  padding: 5px 7px;
  background-color: #fe6358; }
  .button--cancel:hover {
    background-color: #fe7f76; }
  .button--cancel:active {
    background-color: #fe4b3e; }

.content__dropdown-wrapper {
  width: 0;
  position: relative;
  right: 20px;
  top: -34px;
  float: right; }

.dropdown-wrapper__button {
  border: none;
  background-color: transparent;
  color: #9ccecb; }
  .dropdown-wrapper__button .icon-down:before {
    font-size: 90%;
    background-color: #ffffff;
    content: "\e259"; }

.dropdown-wrapper__button--hidden {
  display: none; }

.dropdown-wrapper__menu {
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
  position: absolute;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 0px 20px #e8e8e8;
  padding: 5px 5px;
  z-index: 1;
  top: 21px;
  left: -37px;
  will-change: opacity;
  transition: opacity 0.3s ease; }

.dropdown-wrapper__menu--visible {
  visibility: visible;
  opacity: 1; }

.menu__button {
  display: block;
  background-color: transparent;
  font-size: 80%; }
  .menu__button:hover {
    color: #ff837a; }

.edit-form__textarea {
  color: #5c5c5c;
  display: block;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  margin: 15px 0 10px 0; }
  .edit-form__textarea:focus {
    border-color: #4bbeb6;
    box-shadow: 0 0 6px #bce7e4; }

.edit-form__buttons-container {
  min-height: 30px; }

.gallery__close-button {
  content: "\e088";
  font-size: 120%; }

.gallery__thumbnail {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 33%;
  overflow: hidden;
  float: left;
  margin: 1px;
  border-radius: 6px;
  position: relative; }
  .gallery__thumbnail:before {
    display: block;
    content: "";
    padding-top: 75%; }
  .gallery__thumbnail > .content {
    position: absolute; }
  @media screen and (max-width: 670px) {
    .gallery__thumbnail {
      width: 49%; } }
  @media screen and (max-width: 500px) {
    .gallery__thumbnail {
      width: 99%; } }

.gallery__thumbnail--hovered:after {
  position: absolute;
  top: 0;
  display: flex;
  background-color: white;
  color: #5c5c5c;
  content: "\e003";
  align-items: center;
  justify-content: center;
  font-size: 300%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-out; }

.gallery__thumbnail--hovered:hover:after {
  opacity: 0.5; }

.gallery__container--hidden {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  visibility: hidden; }

.gallery__container--hidden:before {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 0;
  z-index: -1; }

.gallery__container--visible {
  visibility: visible; }

.gallery__container--visible:before {
  opacity: 0.75; }

.container__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 80%;
  max-width: 900px;
  position: relative; }
  .container__photo:before {
    display: block;
    content: "";
    padding-top: 66.66667%; }
  .container__photo > .content {
    position: absolute; }
  .container__photo img, .container__photo source {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

.container__buttons {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 900px; }

.buttons__button {
  background: none;
  font-size: 400%;
  color: rgba(255, 255, 255, 0.5); }

.nextButton:before {
  content: "\e080"; }

.prevButton:before {
  content: "\e079"; }

.container__hamburger {
  background-color: transparent;
  position: absolute;
  right: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  padding: 3px 6px;
  pointer-events: auto; }
  @media screen and (min-width: 670px) {
    .container__hamburger {
      display: none; } }
  .container__hamburger div {
    background-color: #B0B0B0;
    width: 25px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    will-change: transform;
    transition: transform 200ms ease; }
  .container__hamburger:hover {
    border-color: #ffcbc7; }
    .container__hamburger:hover div {
      background-color: #ffcbc7; }
  .container__hamburger.container__hamburger--open .hamburger__one {
    transform: translateY(7px) rotate(45deg); }
  .container__hamburger.container__hamburger--open .hamburger__two {
    opacity: 0; }
  .container__hamburger.container__hamburger--open .hamburger__three {
    transform: translateY(-7px) rotate(-45deg); }

.map {
  height: 400px;
  width: 100%; }

.login-alert-link {
  color: #4bbeb6;
  font-weight: bold; }
  .login-alert-link:hover {
    color: #71ccc6; }

.panel--comments__container {
  min-height: 40px;
  margin-top: 30px; }

.container__new-comment-form-wrapper {
  display: none; }

.container__new-comment-form-wrapper--visible {
  display: block; }

.new-comment-form__textarea {
  display: block;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  font-size: 80%;
  width: 100%;
  max-width: 100%;
  height: 200px;
  max-height: 400px;
  margin-top: 2px;
  margin-bottom: 15px; }
  .new-comment-form__textarea:focus {
    border-color: #4bbeb6;
    box-shadow: 0 0 6px #96d9d5; }
  .new-comment-form__textarea::-webkit-input-placeholder {
    color: #BABABA; }
  .new-comment-form__textarea:-moz-placeholder {
    color: #BABABA; }
  .new-comment-form__textarea:-ms-input-placeholder {
    color: #BABABA; }

.offer-picture {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 6px; }

.page-header {
  font-size: 200%;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 28px;
  padding-bottom: 10px;
  border-bottom: 1px solid gainsboro; }

.panel {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 0px 20px #e8e8e8;
  text-align: left;
  overflow: hidden; }
  @media screen and (max-width: 620px) {
    .panel {
      padding: 10px; } }
  @media screen and (max-width: 500px) {
    .panel {
      padding: 8px; } }

.procedure-list {
  list-style-type: disc;
  padding-left: 4vw;
  width: 500px;
  line-height: 1.3; }
  @media screen and (max-width: 620px) {
    .procedure-list {
      padding-left: 25px;
      width: 86%; } }
  .procedure-list .procedure-price {
    color: #ff837a;
    font-weight: bold; }

.new-comment-form__rate {
  line-height: 1.5;
  font-size: 21px; }

.new-comment-form__rate--hover {
  color: #F5D061;
  cursor: pointer; }

footer {
  height: 100px;
  width: 100%;
  background-color: #f7f7f7;
  border-top: 1px solid gainsboro;
  box-shadow: -2px 4px 10px #ebebeb;
  position: relative;
  bottom: 0;
  left: 0; }

.gallery {
  padding: 20px 0 50px 0; }
  @media screen and (max-width: 670px) {
    .gallery {
      padding: 5px 0 10px 0; } }
  @media screen and (max-width: 500px) {
    .gallery {
      padding-bottom: 10px; } }

.landpage {
  background: url("/images/beauty1.jpg") center center no-repeat;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  pointer-events: auto;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  will-change: transform;
  transition: transform 0.5s ease-in; }
  .landpage .button {
    background-color: #ff837a;
    font-size: 130%;
    font-weight: bold;
    color: #262626;
    padding: 12px 22px; }
    .landpage .button:hover {
      background-color: #ff928a; }
    .landpage .button:active {
      background-color: #ff756b;
      margin-top: 5px; }

.landpage--hidden {
  pointer-events: none;
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh); }

a[id="about-us"]:target ~ .landpage {
  display: none; }

.panel--comments {
  width: 550px;
  overflow: visible; }
  @media screen and (max-width: 620px) {
    .panel--comments {
      width: 85%; } }

.comments-wrapper__comment {
  margin: 8px 0 0 0;
  padding: 8px 0 0 0;
  line-height: 1.2;
  border-top: 1px solid #e8e5e5; }
  .comments-wrapper__comment:first-of-type {
    margin-top: 25px;
    border-top: none; }

.comment__avatar img {
  float: left;
  width: 42px;
  display: block;
  display: block;
  margin-top: 18px;
  border-radius: 4px; }

.comment__content {
  margin-left: 55px; }

.content__rate {
  text-align: right;
  color: #F5D061;
  right: 20px;
  font-size: 95%; }

.content__author {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700; }

.content__date {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 80%; }

.content__text {
  margin: 4px 0 8px 0;
  font-size: 95%;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.3; }

.login-alert-link {
  color: #4bbeb6;
  font-weight: bold; }
  .login-alert-link:hover {
    color: #71ccc6; }

.nav {
  position: fixed;
  height: 52px;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: auto;
  -webkit-transform: none;
  transform: none;
  will-change: transform; }

.nav--hidden {
  -webkit-transform: translateY(-52px);
  transform: translateY(-52px);
  pointer-events: none; }

.nav--animatable {
  transition: transform 0.33s ease-out; }

.nav--hidden.nav--animatable {
  transition: transform 0.2s ease-in; }

.nav__container {
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 10; }

.container__brand {
  display: flex;
  align-items: center;
  z-index: 3;
  font-size: 130%;
  color: #ff837a;
  float: left;
  padding: 15px 15px; }
  .container__brand:hover {
    color: #4bbeb6; }

.container__collapse {
  position: absolute;
  right: 0;
  display: block;
  padding-right: 15px; }
  @media screen and (max-width: 670px) {
    .container__collapse {
      display: flex;
      justify-content: center;
      align-items: center;
      top: -169px;
      background-color: #f7f7f7;
      height: 220px;
      width: 200px;
      padding: 10px 0;
      z-index: -1;
      border: 1px solid #e8e8e8;
      border-top: none;
      will-change: transform;
      transition: transform 0.2s ease-in-out; } }

@media screen and (max-width: 670px) {
  .container__hamburger--open + .container__collapse--visible {
    -webkit-transform: translateY(221px);
    transform: translateY(221px); } }
.collapse__buttons li {
  float: left; }
  @media screen and (max-width: 670px) {
    .collapse__buttons li {
      float: initial;
      padding: 2px 0;
      display: flex;
      justify-content: center; } }
  .collapse__buttons li a {
    font-size: 90%;
    color: #5c5c5c;
    padding: 10px; }
    @media screen and (max-width: 670px) {
      .collapse__buttons li a {
        padding: 5px 15px; } }
    .collapse__buttons li a:hover {
      color: #ff837a; }
    .collapse__buttons li a.collapse__buttons--current-user {
      color: #4bbeb6; }

.collapse__buttons--log-button {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  margin-left: 4px;
  color: #5c5c5c;
  padding: 10px 15px; }
  @media screen and (max-width: 670px) {
    .collapse__buttons--log-button {
      margin: 0;
      padding: 5px 15px; } }
  .collapse__buttons--log-button:hover {
    border-color: #ffcbc7;
    color: #ff837a; }

.collapse__buttons--active {
  color: #ff837a !important; }

.sign-form {
  width: 260px;
  margin-left: auto;
  margin-right: auto; }
  .sign-form input {
    margin-bottom: 20px;
    font-size: 90%;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-shadow: 0 0px 20px #e8e8e8;
    outline: 0; }
    .sign-form input:focus {
      border-color: #4bbeb6;
      box-shadow: 0 0 6px #71ccc6; }
    .sign-form input::-webkit-input-placeholder {
      color: #BABABA; }
    .sign-form input:-moz-placeholder {
      color: #BABABA; }
    .sign-form input:-ms-input-placeholder {
      color: #BABABA; }
  .sign-form .button {
    font-size: 80%;
    float: none; }

/*# sourceMappingURL=style.css.map */
