// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  font-family: $text-font-stack;
  text-align: center;
  vertical-align: middle;
  background-color: $ocean-blue;
  float: right;
  padding: 9px 18px;
  color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 80%;
  will-change: transform;

  &:hover {
    background-color: lighten($ocean-blue, 6%);
  }
  
  &:active {
    background-color: darken($ocean-blue, 5%);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}

.button--hidden {
  visibility: hidden;
}

.button--visible {
  visibility: visible;
}
  
.button--accept {
  margin-left: 5px;
  font-weight: normal;
  padding: 5px 7px;
  background-color: $btn-green;

  &:hover {
    background-color: lighten($btn-green, 6%);
  }

  &:active {
    background-color: darken($btn-green, 5%);
  }
}

.button--cancel {
  margin-left: 5px;
  font-weight: normal;
  padding: 5px 7px;
  background-color: $btn-red;

  &:hover {
    background-color: lighten($btn-red, 6%);
  }

  &:active {
    background-color: darken($btn-red, 5%);
  }
}