$half-visible-height: 68px;

.panel--comments__comments-wrapper {
  margin-bottom: 10px;
}

.comments-wrapper__comment {
  position: relative;
  padding: 8px 0;
  line-height: 1.2;
  border-bottom: 1px solid lighten($border-gray, 4%);

  &:last-of-type {
    border-bottom: none;
  }
}

.comments-wrapper__comment--half-visible {
  position: relative;
  height: $half-visible-height;
  overflow: hidden;
  border-bottom: none;
  pointer-events: none;
  margin-bottom: 17px;

  .content__dropdown-wrapper {
    display: none;
  }
}

.comments-wrapper__comment--half-visible:after {
  content: '';
  position: absolute;
  top: -40%;
  left: 0;
  height: 150%;
  width: 100%;
  background-image: linear-gradient(transparent -30%, #fff 80%);
  transition: transform 0.4s ease-in;
  pointer-events: auto;
  z-index: 3;
  cursor: pointer;
}

.comments-wrapper__comment--half-visible:hover:after {
  transform: translateY($half-visible-height - $half-visible-height/2);
}

.comment__avatar img {
  float: left;
  width: 42px;
  display: block;
  border-radius: 4px;
}

.comment__content {
  position: relative;
  margin-left: 55px;
  z-index: 3
}

.comment__content:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: $yellow;
  opacity: 0;
  box-shadow: 0 0 3px 4px $yellow;
  border-radius: 4px;
  z-index: -1;
  transition: opacity 1s ease;
}

.comment__content--new:after {
  opacity: 0.32;
}

.content__rate {
  position: absolute;
  top: 0;
  right: 0;
  color: $star-gold;
  font-size: 95%;
}

.content__author {
  color: $black;
  font-weight: 700;
}

.content__date {
  position: relative;
  top: -3px;
  color: $date-gray;
  font-size: 77%;
}

.content__text {
  margin-bottom: 2px;
  font-size: 95%;
  word-wrap: break-word;
  color: $black;
  line-height: 1.3;
}