.content__edit-form {
  position: relative;
}

.edit-form__textarea {
  color: $font-gray;
  display: block;
  border: 1px solid $border-gray;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
  margin: 15px 0 10px 0;

  &:focus {
    @include inputFocus-border(30%);
  }
}

.edit-form__buttons-container {
  min-height: 30px;
}