.login-alert {
  position: absolute;
}

.login-alert-link {
  color: $ocean-blue;
  font-weight: bold;

  &:hover {
    color: lighten($ocean-blue, 10%);
  }
}

.form-new-comment--wrapper {
  position: relative;
  display: none;
}

.form-new-comment {
  position: relative;
  top: 15px;
  padding-bottom: 30px;
  margin-bottom: 20px;

  .button {
    float: none;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.form-new-comment--wrapper--visible {
  display: block;
}