.login-alert {
  position: absolute;
}

.login-alert-link {
  color: $ocean-blue;
  font-weight: bold;

  &:hover {
    color: lighten($ocean-blue, 10%);
  }
}

.form-new-comment--wrapper {
  position: relative;
  top: -10px;
  display: none;
}

.form-new-comment .button {
  float: right;
}

.form-new-comment--wrapper--visible {
  display: block;
}