$font-size: 280%;
$font-size--small: 200%;

.fullphoto-btn {
  background: none;
  font-size: $font-size;
  color: $galleryButton-color;
  padding: 10px;

  @media screen and (max-width: map-get($breakpoints, large)) {
    font-size: $font-size--small;
  }
}

.image__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.image__close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}

.image__close-btn:before {
  content:"\e014";
}

.buttons__next-btn:before {
  content:"\e080";
}

.buttons__prev-btn:before {
  content:"\e079";
}