.gallery__fullphoto {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 125;
  visibility: hidden;
  background-color: hsla(0, 0%, 0%, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: map-get($breakpoints, x-small)) {
  .gallery__fullphoto--visible {
    visibility: visible;
  }
}

.fullphoto__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 59vw;
  max-width: 900px;
  max-height: 92%;
  // @include aspect-ratio(1.5, 1);
}