$font-size: 300%;
$font-size--small: 280%;

.image__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttons__button {
  background: none;
  font-size: $font-size;
  color: $galleryButton-color;

  @media screen and (max-width: map-get($breakpoints, small)) {
    font-size: $font-size--small;
  }
}  

.next-button:before {
  content:"\e080";
}

.prev-button:before {
  content:"\e079";
}

.image__close-button {
  font-size: $font-size - 20%;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: $galleryButton-color;

  @media screen and (max-width: map-get($breakpoints, small)) {
    font-size: $font-size--small - 20%;
  }
}

.image__close-button:before {
  content:"\e014";
}