.gallery__thumbnail {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 33%;
  float: left;
  margin: 1px;
  border-radius: 6px;
  pointer-events: none;
  @include aspect-ratio(4, 3);

  @media screen and (max-width: map-get($breakpoints, medium)) {
    width: 49%;
  }

  @media screen and (max-width: map-get($breakpoints, x-small)) {
    width: 99%;
  }
}

.gallery__thumbnail--hovered {
  cursor: pointer;
  cursor: hand;
}

.gallery__thumbnail--hovered:after {
  position: absolute;
  top: 0;
  display: flex;
  background-color: $white;
  color: $font-gray;
  content:"\e003";
  align-items: center; 
  justify-content: center;
  font-size: 300%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  pointer-events: all;
}

@media screen and (min-width: map-get($breakpoints, x-small)) {
  .gallery__thumbnail--hovered:hover:after {
    opacity: 0.5;
  }
}