.container__hamburger {
  background-color: transparent;
  position: absolute;
  right: 20px;
  border: 1px solid $border-gray;
  border-radius: 6px;
  padding: 3px 6px;

  @media screen and (min-width: map-get($breakpoints, x-medium)) {
    display: none;
  }

  div {
    $div-margin: 6px;
    background-color: #B0B0B0;
    width: 28px;
    height: 2px;
    margin-top: $div-margin;
    margin-bottom: $div-margin;
    will-change: transform;
    transition: transform 200ms ease;
  }

  @media screen and (min-width: map-get($breakpoints, x-small)) {
    &:hover {
      border-color: lighten($salmon, 15% );

      div {
        background-color: lighten($salmon, 15% );
      }
    }
  }

  &.container__hamburger--open {
    $translate: 8px;

    .hamburger__one {
        transform: translateY($translate) rotate(45deg);
    }

    .hamburger__two {
        opacity: 0;
    }
    
    .hamburger__three {
        transform: translateY(-$translate) rotate(-45deg);
    }
  }
}