.login-alert-link {
  color: $ocean-blue;
  font-weight: bold;

  &:hover {
    color: lighten($ocean-blue, 10%);
  }
}

.panel--comments__container {
  min-height: 40px;
  margin-top: 30px;
}

.container__new-comment-form-wrapper {
  display: none;
}

.container__new-comment-form-wrapper--visible {
  display: block;
}