.panel {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  @include shadowed-border;
  text-align: left;
  overflow: hidden;
  @media screen and (max-width: map-get($breakpoints, small)) {
      padding: 10px;
    }
  @media screen and (max-width: map-get($breakpoints, x-small)) {
    padding: 8px;
  }
}