.procedures {
  padding-bottom: 50px;
}

.procedure-list {
  list-style-type: disc;
  padding-left: 4vw;
  width: 80%;
  line-height: 1.3;

  @media screen and (max-width: map-get($breakpoints, medium)) {
    padding-left: 25px;
    width: 100%;
  }
  
  .procedure-price {
    color: $salmon;
    font-weight: bold;
  }
}