.sign-input {
  background-color: $white;
  // font-size: 90%;
  color: $placeholder-color;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border-bottom: 1px solid $border-gray;

  > input {
    padding: 0 10px;
    top: 8px;
    border-radius: 4px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;

    &:focus + label {
      color: $ocean-blue;
      transform: translateY(-15px);
      font-size: 80%;
    }

    &:valid + label {
      color: darken($placeholder-color, 5%);
      background-color: transparent;
      transform: translateY(-15px);
      font-size: 80%;
    }
  }

  > label {
    margin: 0 10px;
    will-change: transform font-size;
    transition: // not padding!
      transform 0.2s cubic-bezier(.4,0,.2,1),
      font-size 0.2s cubic-bezier(.4,0,.2,1);
  }
}