.sign-input {
  background-color: $white;
  color: $placeholder-color;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $border-gray;

  > input {
    padding: 15px 10px 0 10px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;

    &:valid + label {
      color: darken($placeholder-color, 5%);
      transform: scale(0.8) translate(-45px, -30px);
    }

    &:focus + label {
      color: $ocean-blue;
      transform: scale(0.8) translate(-45px, -30px);
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px $white inset;
    }
  }

  > label {
    pointer-events: none;
    position: absolute;
    width: 100%;
    bottom: 7px;
    margin: 0 10px;
    will-change: transform font-size;
    transition: transform 0.1s cubic-bezier(.4,0,.2,1);
  }
}