.social {
  position: absolute;
  top: 10px;
  right: 3%;
}

.social__icon {
  fill: $salmon;
  width: 26px;
  height: 26px;
  margin: 3px;

  @media screen and (min-width: map-get($breakpoints, x-small)) {
    &:hover {
      fill: lighten($salmon, 5%);
    }
  }
}
