// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin input-focus($percent) {
  border-color: $ocean-blue;
  box-shadow: 0 0 6px lighten($ocean-blue, $percent);
}

@mixin shadowed-border {
  border: 1px solid $border-grey;
  border-radius: 4px;
  box-shadow: 0 0px 20px $border-grey;
}

@mixin placeholder-color($color: #BABABA) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  } 
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
  }
}