// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@mixin mq($mq-breakpoint, $min-or-max, $mq-breakpoints: $breakpoints) {
  // If $mq-breakpoint is a key that exists in
  // $mq-breakpoints, get and use the value
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  
  @media screen and (($min-or-max)+-width: #{$mq-breakpoint}) {
    @content;
  }
}

@mixin input-focus($percent) {
  border-color: $ocean-blue;
  box-shadow: 0 0 6px lighten($ocean-blue, $percent);
}

@mixin shadowed-border {
  border: 1px solid $border-grey;
  border-radius: 4px;
  box-shadow: 0 0px 20px $border-grey;
}

@mixin placeholder-color($color: #BABABA) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  } 
  &:-ms-input-placeholder {
    color: $color;
  }
}