// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin inputFocus-border($percent) {
  border-color: $ocean-blue;
  box-shadow: 0 0 6px lighten($ocean-blue, $percent);
}

@mixin shadowed-border($color: $border-gray) {
  border: 1px solid $color;
  border-radius: 4px;
  box-shadow: 0 0px 20px $color;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    padding-top: ($height / $width) * 100%;
  }
  > .content {
  }
}