// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Lato', 'Helvetica', 'Arial', sans-serif;

/// Code (monospace) font family
/// @type List
// $code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Navbar height
$nav-height: 52px;
$nav-height-x2: 65px;
$collapsed-nav-height: 235px;
$collapsed-nav-width: 200px;


/// Colors
$white: hsl(360, 0%, 100%);
$black: hsl(0, 0%, 0%);
$beige: hsl(322, 100%, 98%);
$salmon: hsl(4, 100%, 74%);
$ocean-blue: hsl(176, 47%, 52%);
$yellow: hsl(55, 92%, 69%);

$date-gray: hsl(0, 0%, 60%);
$star-gold: hsl(45, 88%, 67%);
$btn-green: hsl(97, 62%, 60%);
$btn-red: hsl(4, 99%, 67%);
$font-gray: hsl(0, 0%, 36%);
$border-gray: hsl(0, 0%, 85%);
$brand-gray: hsl(0, 0%, 93%);
$nav-background-gray: hsl(0, 0%, 97%);
$placeholder-color: hsl(0, 0%, 73%);
$flash-green: hsl(99, 53%, 63%);
$flash-red: hsl(356, 95%, 66%);
//Gallery colors
$image-wrap-width: 80%;
$galleryButton-color: hsla(0, 100%, 100%, 0.3);
//Gallery colors

/// Container's maximum width
/// @type Length
$max-width: 2000px;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'x-small': 500px,
  'small': 620px,
  'medium': 670px,
  'x-medium': 780px,
  'large': 878px,
  'x-large': 1400px,
  'xx-large': 2000px,
);